:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #eee;
  background: #4c2a4c;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #553055;
}

.navbar {
  padding: 10px 20px;
  text-align: center;
  background: #6d3d6d;
}

.navbar h1 {
  margin: 10px 0;
}